* {
  list-style-type: none;
}

.app {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  padding: 50px;
  padding-bottom: 0;
  font-size: 1.05rem;
}

.form {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form > * {
  margin: 25px 0;
}

.form input {
  padding: 8px;
  font-size: 1.05rem;
}

.user {
  margin-bottom: 25px;
}